@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 320px;
    height: 320px;
    overflow: hidden;
    background: #B4C5A8;
    color: #1E211E;
    font-family: "Roboto Condensed", sans-serif;
}

.screen {
    width: 320px;
    height: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background:
         radial-gradient(
        ellipse at center,
        #B9C8AE 35%,
        #9EAF94 100%),
            transparent 65%
        ),
        linear-gradient(
            135deg,
            #AABCA0,
            #9EAF94
        );

    position: relative;

    box-shadow:
    inset 0 0 80px rgba(40,55,40,0.35),
    inset 0 0 25px rgba(0,0,0,0.15);
}

/* subtle LCD grain */
.screen::after {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.04;
    background-image:
        repeating-linear-gradient(
            0deg,
            rgba(0,0,0,.15) 0px,
            rgba(0,0,0,.15) 1px,
            transparent 1px,
            transparent 3px
        );
    pointer-events: none;
}

.label {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.temperature {
    font-size: 105px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -2px;
}

.bar {
    width: 200px;
    height: 22px;
    margin-top: 22px;
    background: #A3B29A;
    border-radius: 0px;
    overflow: hidden;
}

.fill {
    width: 25%;
    height: 100%;
    background: #303630;
    border-radius: 0px;
}

.stats {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
}
